/* Parallax Background */
#parallax {
    background-image: url("/images/student-books.jpg"); /* Ensure image path is correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 80px 0;
    text-align: center;
}

/* Styling for the heading */
#parallax h1 {
    margin-bottom: 30px;
    font-size: 24px;
    max-width: 80%;
    margin: auto;
}

/* White button style */
.btn-o-white {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    border: 2px solid white;
    border-color: var(--light-text);
    color: var(--light-text);
    background: transparent;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.btn-o-white:hover {
    background: var(--primary-maroon) !important;
    border-color: var(--primary-maroon);
}
