/* Section container */
.why-use-section {
    background-color: var(--medium-gray);
    padding: var(--space-xl) var(--space-md);
    color: var(--light-text);
  }
  
  /* Consistent heading format */
  .why-use-section .block-heading {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-lg);
  }
  
  .why-use-section .about-subtitle {
    font-size: 2rem;
    color: var(--white-100);
  }
  
  /* Cards */
  .blog-post {
    background: rgba(255, 255, 255, 0.05);
    padding: var(--space-md);
    border-radius: 10px;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .blog-post:hover {
    transform: scale(1.05);
  }
  
  .blog-post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: var(--space-md);
  }
  
  .blog-post h3 {
    font-size: 1.25rem;
    color: #ff7272;
    margin-bottom: var(--space-sm);
  }
  
  .blog-post p {
    font-size: 1rem;
    color: var(--white-86);
  }
  