#blog {
    background: var(--medium-gray);
  }

/* Block heading styling */
.block-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
}

/* Center title */
.block-heading h1 {
    flex: 1;
    color: #f4f4f4;
    text-align: left;
    margin: 0;
}

/* Right-align Learn More button */
.learn-more {
    color: #f4f4f4;
    margin-left: auto;
}

/* Blog post layout */
.blog-post {
    text-align: center;
    background: var(--dark-gray);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.blog-post h2 {
    color: var(--primary-maroon);
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-post p {
    color: var(--secondary-text); /* Better readability */
  }

/* Hover effect */
.blog-post:hover {
    transform: scale(1.05);
}
